<header>
    <div class="heading-bar">
        <div class="heading-bar-contents">
            <!-- HEADING-BAR-LEFT-SECTION -->
            <div class="heading-bar-left">
                <!-- EMAIL -->
                <div class="heading-bar-email">
                    <img src="../../assets/icons/email.png" class="heading-email-icn" alt="">
                    <a href="mailto:mhhasanul@gmail.com">mhhasanul@gmail.com</a>
                </div>
                <!-- PHONE -->
                <div class="heading-bar-phone">
                    <img src="../../assets/icons/phone.png" class="heading-phone-icn" alt="">
                    <a href="tel:+(12345)67890">(12345)67890</a>
                </div>
            </div>
            <!-- HEADING-BAR-RIGHT-SECTION -->
            <div class="heading-bar-right">
                <!-- LANGUAGE -->
                <div class="heading-bar-language">
                    <button class="heading-bar-language-btn">
                        <p>English</p>
                        <img src="../../assets/icons/drop-down.png" class="heading-down-icn" alt="">
                    </button>
                </div>
                <!-- CURRENCY -->
                <div class="heading-bar-currency">
                    <button class="heading-bar-currency-btn">
                        <p>USD</p>
                        <img src="../../assets/icons/drop-down.png" class="heading-down-icn" alt="">
                    </button>
                </div>
                <!-- USER ACCOUNT -->
                <div class="heading-bar-account">
                    <button class="heading-bar-user-btn">
                        <p>Login</p>
                        <img src="../../assets/icons/user.png" class="heading-user-icn" alt="">
                    </button>
                </div>
                <!-- WISH LIST -->
                <div class="heading-bar-wishlist">
                    <button class="heading-bar-wishlist-btn">
                        <p>Wishlist</p>
                        <img src="../../assets/icons/heart-white.png" class="heading-white-icn" alt="">
                    </button>
                </div>
                <!-- CART -->
                <div class="heading-bar-cart">
                    <img src="../../assets/icons/cart.png" class="heading-cart-icn" alt="">
                </div>
            </div>
        </div>
    </div>
</header>
