<section class="trend">
    <div class="trend-contents">
        <h1 class="trend-section-heading">
            Trending Products
        </h1>
        
        <div class="trend-cards">
            <div class="trend-card-regular">
                <div class="trend-card-contents">
                    <div class="trend-card-photo">
                        <img src="../../assets/images/chair1.png" alt="trending products photo" class="trend-card-img">
                    </div>
                    <div class="trend-card-texts">
                        <p class="trend-card-name">
                            Cantilever chair
                        </p>
                        <div class="trend-card-amounts">
                            <p class="trend-card-price">$26.00</p>
                            <p class="trend-card-discount">$42.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trend-card-regular">
                <div class="trend-card-contents">
                    <div class="trend-card-photo">
                        <img src="../../assets/images/chair2.png" alt="trending products photo" class="trend-card-img">
                    </div>
                    <div class="trend-card-texts">
                        <p class="trend-card-name">
                            Cantilever chair
                        </p>
                        <div class="trend-card-amounts">
                            <p class="trend-card-price">$26.00</p>
                            <p class="trend-card-discount">$42.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trend-card-regular">
                <div class="trend-card-contents">
                    <div class="trend-card-photo">
                        <img src="../../assets/images/chair3.png" alt="trending products photo" class="trend-card-img">
                    </div>
                    <div class="trend-card-texts">
                        <p class="trend-card-name">
                            Cantilever chair
                        </p>
                        <div class="trend-card-amounts">
                            <p class="trend-card-price">$26.00</p>
                            <p class="trend-card-discount">$42.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trend-card-regular">
                <div class="trend-card-contents">
                    <div class="trend-card-photo">
                        <img src="../../assets/images/chair4.png" alt="trending products photo" class="trend-card-img">
                    </div>
                    <div class="trend-card-texts">
                        <p class="trend-card-name">
                            Cantilever chair
                        </p>
                        <div class="trend-card-amounts">
                            <p class="trend-card-price">$26.00</p>
                            <p class="trend-card-discount">$42.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="trend-offer-cards">
            <div class="trend-offer-card trend-offer-card-one">
                <div class="trend-offer-one-texts">
                    <p class="trend-offer-one-heading">23% off in all products</p>
                    <a href="#" class="trend-offer-one-link">Shop Now</a>
                </div>
                <img src="../../assets/images/offer-clock.png" class="trend-offer-one-img" alt="">
            </div>
            <div class="trend-offer-card trend-offer-card-two">
                <div class="trend-offer-two-texts">
                    <p class="trend-offer-two-heading">23% off in all products</p>
                    <a href="#" class="trend-offer-two-link">View Collection</a>
                </div>
                <img src="../../assets/images/offer-table.png" class="trend-offer-two-img" alt="">
            </div>

            <div class="trend-offer-three">
                <div class="trend-offer-products">
                    <div class="trend-offer-product-photo">
                        <img src="../../assets/images/executiveSeat1.png" alt="" class="trend-offer-product-img">
                    </div>
                    <div class="trend-offer-product-texts">
                        <p class="trend-offer-product-name">
                            Executive Seat chair
                        </p>
                        <p class="trend-offer-product-price">
                            $32.00
                        </p>
                    </div>
                </div>
                <div class="trend-offer-products">
                    <div class="trend-offer-product-photo">
                        <img src="../../assets/images/executiveSeat2.png" alt="" class="trend-offer-product-img">
                    </div>
                    <div class="trend-offer-product-texts">
                        <p class="trend-offer-product-name">
                            Executive Seat chair
                        </p>
                        <p class="trend-offer-product-price">
                            $32.00
                        </p>
                    </div>
                </div>
                <div class="trend-offer-products">
                    <div class="trend-offer-product-photo">
                        <img src="../../assets/images/executiveSeat3.png" alt="" class="trend-offer-product-img">
                    </div>
                    <div class="trend-offer-product-texts">
                        <p class="trend-offer-product-name">
                            Executive Seat chair
                        </p>
                        <p class="trend-offer-product-price">
                            $32.00
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>