<section class="featured">
    <div class="featured-contents">
        <h1 class="featured-section-heading">
            Featured Products
        </h1>

        <div class="featured-cards">
            <div class="featured-card-regular">
                <div class="featured-card-contents">
                    <div class="featured-card-photo">
                        <img src="../../assets/images/featured/image1.png" alt="featureding products photo" class="featured-card-img">
                    </div>
                    <div class="featured-card-texts">
                        <p class="featured-card-name">
                            Cantilever chair
                        </p>
                        <div class="feature-card-divider-dots">
                        </div>
                        <div class="featured-card-product">
                            <p class="featured-card-code">Code - Y523201</p>
                            <p class="featured-card-price">$42.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-card-regular">
                <div class="featured-card-contents">
                    <div class="featured-card-photo">
                        <img src="../../assets/images/featured/image2.png" alt="featureding products photo" class="featured-card-img">
                    </div>
                    <div class="featured-card-texts">
                        <p class="featured-card-name">
                            Cantilever chair
                        </p>
                        <div class="feature-card-divider-dots">
                        </div>
                        <div class="featured-card-product">
                            <p class="featured-card-code">Code - Y523201</p>
                            <p class="featured-card-price">$42.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-card-regular">
                <div class="featured-card-contents">
                    <div class="featured-card-photo">
                        <img src="../../assets/images/featured/image3.png" alt="featureding products photo" class="featured-card-img">
                    </div>
                    <div class="featured-card-texts">
                        <p class="featured-card-name">
                            Cantilever chair
                        </p>
                        <div class="feature-card-divider-dots">
                        </div>
                        <div class="featured-card-product">
                            <p class="featured-card-code">Code - Y523201</p>
                            <p class="featured-card-price">$42.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-card-regular">
                <div class="featured-card-contents">
                    <div class="featured-card-photo">
                        <img src="../../assets/images/featured/image4.png" alt="featureding products photo" class="featured-card-img">
                    </div>
                    <div class="featured-card-texts">
                        <p class="featured-card-name">
                            Cantilever chair
                        </p>
                        <div class="feature-card-divider-dots">
                        </div>
                        <div class="featured-card-product">
                            <p class="featured-card-code">Code - Y523201</p>
                            <p class="featured-card-price">$42.00</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>