.featured{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 128px 0px;
}

.featured-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1171px;
    position: relative;
}
.featured-section-heading{
    font-weight: 500;
    font-size: 36px;
    line-height: 38px;
    color: #151875;
}


.featured-cards{
    width: 1171px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
  }
  
  .featured-card > div {
    text-align: left;
  }

  .featured-card-regular{
    Width: 270px;
    Height: 350px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 39px 14px;
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.12);
}
  .featured-card-regular:hover{
    background-color: #2F1AC4;
}
.featured-card-regular:hover .featured-card-name, .featured-card-regular:hover .featured-card-code, .featured-card-regular:hover .featured-card-price{
    color: #FFFFFF;
}

.featured-card-regular:hover .divider-dot-c{
    background-color: #FFEAC1;
}

.featured-card-regular:hover .featured-card-img{
    transform: scale(0.90);
    transform: translateY(-12px);
}

.featured-card-contents{
    height: 350px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.featured-card-photo{
    width:  270px;
    height: 236px;
    background: #F5F6F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .featured-card-img{} */

.featured-card-texts{
    height: 97px;
    width: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.featured-card-name{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FB2E86;
}
.featured-card-product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.featured-card-code{
    margin: 6px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #151875;
}
.featured-card-price{
    margin: 6px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #151875;
}

.feature-card-divider{
    display: flex;
}

.feature-card-divider-dot{
    display: inline-block;
    background-color: var(--accentP);
    margin: 8px 4px;
    height: 4px;
    width: 14px;
    border-radius: 10px;
}

.divider-dot-a{
    background-color: #05E6B7;
}
.divider-dot-b{
    background-color: var(--accentP);
}
.divider-dot-c{
    background-color: #00009D;
}



.featured-card-cta{
    position: absolute;
    background: #08D15F;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    height: 29px;
    width: 94px;
    left: 50%-25%;
    top: 200px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0%;
}

.featured-card-buttons{
    position: absolute;
    left: 12px;
    top: 12px;
    display: flex;
    opacity: 0%;
}
.featured-card-btn{
    background:none;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.featured-card-contents:hover .featured-card-cta, .featured-card-contents:hover .featured-card-buttons{
    opacity: 100%;
}



.featured-card-scroll{
    position: absolute;
    left: 50%-25%;
    bottom: -36px;
}

.featured-card-scroll-dot{
    display: inline-block;
    width: 16px;
    height: 4px;
    margin: 0 2px;
    cursor: pointer;
    background: #FEBAD7;
    border-radius: 10px;
}

.featured-card-scroll-dot-selected{
    display: inline-block;
    width: 24px;
    height: 4px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--accentP);
}

.featured-card-scroll-dot-selected{
}