<section class="featured">
    <div class="featured-contents">
        <h1 class="featured-section-heading">
            Featured Products
        </h1>

        <div class="featured-cards">
            <div class="featured-card-regular">
                <div class="featured-card-contents">
                    <div class="featured-card-photo">
                        <img src="../../assets/images/featured/image1.png" alt="featured products photo"
                            class="featured-card-img">
                    </div>
                    <div class="featured-card-texts">
                        <p class="featured-card-name">
                            Cantilever chair
                        </p>
                        <div class="feature-card-divider">
                            <span class="feature-card-divider-dot divider-dot-a"></span>
                            <span class="feature-card-divider-dot divider-dot-b"></span>
                            <span class="feature-card-divider-dot divider-dot-c"></span>
                        </div>
                        <div class="featured-card-product">
                            <p class="featured-card-code">Code - Y523201</p>
                            <p class="featured-card-price">$42.00</p>
                        </div>
                    </div>
                    <button class="featured-card-cta">View Details</button>
                    <div class="featured-card-buttons">
                        <button title="cart" class="featured-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="featured-card-btn">
                            <img src="../../assets/icons/heart-blue.png" alt="">
                        </button>
                        <button title="zoom" class="featured-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="featured-card-regular">
                <div class="featured-card-contents">
                    <div class="featured-card-photo">
                        <img src="../../assets/images/featured/image2.png" alt="featured products photo"
                            class="featured-card-img">
                    </div>
                    <div class="featured-card-texts">
                        <p class="featured-card-name">
                            Cantilever chair
                        </p>
                        <div class="feature-card-divider">
                            <span class="feature-card-divider-dot divider-dot-a"></span>
                            <span class="feature-card-divider-dot divider-dot-b"></span>
                            <span class="feature-card-divider-dot divider-dot-c"></span>
                        </div>
                        <div class="featured-card-product">
                            <p class="featured-card-code">Code - Y523201</p>
                            <p class="featured-card-price">$42.00</p>
                        </div>
                    </div>
                    <button class="featured-card-cta">View Details</button>
                    <div class="featured-card-buttons">
                        <button title="cart" class="featured-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="featured-card-btn">
                            <img src="../../assets/icons/heart-blue.png" alt="">
                        </button>
                        <button title="zoom" class="featured-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="featured-card-regular">
                <div class="featured-card-contents">
                    <div class="featured-card-photo">
                        <img src="../../assets/images/featured/image3.png" alt="featured products photo"
                            class="featured-card-img">
                    </div>
                    <div class="featured-card-texts">
                        <p class="featured-card-name">
                            Cantilever chair
                        </p>
                        <div class="feature-card-divider">
                            <span class="feature-card-divider-dot divider-dot-a"></span>
                            <span class="feature-card-divider-dot divider-dot-b"></span>
                            <span class="feature-card-divider-dot divider-dot-c"></span>
                        </div>
                        <div class="featured-card-product">
                            <p class="featured-card-code">Code - Y523201</p>
                            <p class="featured-card-price">$42.00</p>
                        </div>
                    </div>
                    <button class="featured-card-cta">View Details</button>
                    <div class="featured-card-buttons">
                        <button title="cart" class="featured-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="featured-card-btn">
                            <img src="../../assets/icons/heart-blue.png" alt="">
                        </button>
                        <button title="zoom" class="featured-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="featured-card-regular">
                <div class="featured-card-contents">
                    <div class="featured-card-photo">
                        <img src="../../assets/images/featured/image4.png" alt="featured products photo"
                            class="featured-card-img">
                    </div>
                    <div class="featured-card-texts">
                        <p class="featured-card-name">
                            Cantilever chair
                        </p>
                        <div class="feature-card-divider">
                            <span class="feature-card-divider-dot divider-dot-a"></span>
                            <span class="feature-card-divider-dot divider-dot-b"></span>
                            <span class="feature-card-divider-dot divider-dot-c"></span>
                        </div>
                        <div class="featured-card-product">
                            <p class="featured-card-code">Code - Y523201</p>
                            <p class="featured-card-price">$42.00</p>
                        </div>
                    </div>
                    <button class="featured-card-cta">View Details</button>
                    <div class="featured-card-buttons">
                        <button title="cart" class="featured-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="featured-card-btn">
                            <img src="../../assets/icons/heart-blue.png" alt="">
                        </button>
                        <button title="zoom" class="featured-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="featured-card-scroll">
            <span class="featured-card-scroll-dot-selected"></span>
            <span class="featured-card-scroll-dot"></span>
            <span class="featured-card-scroll-dot"></span>
            <span class="featured-card-scroll-dot"></span>
        </div>
    </div>
</section>
