<!-- HERO SECTION -->
<div class="hero-section">
    <div class="hero-contents">
        <!-- HERO SECTION LEFT -->
        <img src="../../assets/images/HeroLemp.png" alt="" class="hero-lamp">
        <div class="hero-floating-dot"></div>
        <div class="carousel-nav">
            <span class="carousel-button carousel-button-selected"></span>
            <span class="carousel-button"></span>
            <span class="carousel-button"></span>
        </div>
        <div class="hero-left">
            <P class="hero-left-slogan">
                Best Furniture For Your Castle....</P>
            <h1 class="hero-left-heading">
                New Furniture Collection<br> Trends in 2020</h1>
            <p class="hero-left-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna in est adipiscing in phasellus non in
                justo.</p>
                <!-- HERO SECTION CTA BUTTON -->
            <button class="hero-left-cta">
                Shop Now
            </button>
        </div>
        <!-- HERO SECTION RIGHT -->
        <div class="hero-right">
            <!-- HERO IMAGE BACKGROUNDS -->
            <div class="hero-right-bg-one">
                <div class="hero-right-bg-two">
                    <!-- HERO IMAGE -->
                    <img src="../../assets/images/OneSeaterSofa.png" alt="" class="hero-right-img">
                </div>
            </div>
            <!-- HERO DISCOUNT BADGE -->
            <div class="hero-right-sale-badge">
                <h5 class="hero-right-sale-badge-text">
                    50%<br>
                    Off
                </h5>
            </div>
        </div>
    </div>
</div>
