.hero-section {
    background-color: var(--bg2);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1171px;
    position: relative;
}

.hero-lamp{
    position: absolute;
    left: -260px;
    top: 0px;
    height: 318px;
    width: 318px;
}

.hero-floating-dot{
    position: absolute;
    left: -160px;
    top: 440px;
    height: 13px;
    width: 13px;
    background-color: var(--accentP);
    border-radius: 50%;
}

.carousel-nav{
    position: absolute;
    left: 50%;
    bottom: 5%;
}

.carousel-button{
    display: inline-block;
    height: 8px;
    width: 8px;
    border: 1px solid var(--accentP);
    transform: rotate(45deg);
    margin: 0 4px;
    cursor: pointer;
}

.carousel-button-selected{
    background-color: var(--accentP);
}

.hero-left-slogan {
    color: var(--accentP);
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 12px;
}

.hero-left-heading {
    line-height: 132%;
    font-weight: 600;
    font-size: 54px;
    margin-bottom: 12px;
}

.hero-left-description {
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    color: #8A8FB9;
    margin-bottom: 28px;
}

.hero-left-cta {
    color: white;
    background-color: var(--accentP);
    width: 163px;
    height: 50px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
}

.hero-left-cta:hover {
    color: var(--accentP);
    border: 2px solid var(--accentP);
    background-color: rgba(255, 255, 255, 0.984);
    cursor: pointer;
}

.hero-right {
    margin: 36px 0px 36px 36px;
    /* transform: translateX(58px); */
    height: 548px;
    position: relative;
}

.hero-right-bg-one {
    width: 498px;
    height: 498px;
    background-color: rgba(236, 210, 250, 0.35);
    border-radius: 50%;
    transform: translate(36px, 46px);
}

.hero-right-bg-two {
    width: 498px;
    height: 498px;
    background-color: rgba(236, 210, 250, 0.35);
    border-radius: 50%;
    transform: translate(36px, -46px);
}

.hero-right-img {
    height: 482px;
    width: auto;
    transform: translate(-38px, 48px);
}

.hero-right-sale-badge {
    width: 136px;
    height: 136px;
    background-color: rgba(0, 193, 254, 1);
    border-radius: 31% 69% 46% 54% / 57% 54% 46% 43%;
    font-weight: 600;
    font-size: 35px;
    line-height: 37px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: -60px;
}

.hero-right-sale-badge-text {}