<section class="latest">
    <div class="latest-contents">
        <h1 class="latest-section-heading">
            Latest Products
        </h1>

        <div class="latest-nav">
            <a href="#" class="latest-nav-list latest-nav-list-active">New Arrival</a>
            <a href="#" class="latest-nav-list">Best Seller</a>
            <a href="#" class="latest-nav-list">Featured</a>
            <a href="#" class="latest-nav-list">Special Offer</a>
        </div>

        <div class="latest-cards">
            <div class="latest-card-regular">
                <div class="latest-card-contents">
                    <div class="latest-card-photo">
                        <img src="../../assets/images/latest/image1.png" alt="latesting products photo" class="latest-card-img">
                    </div>
                    <div class="latest-card-texts">
                        <p class="latest-card-name">
                            Comfort Handy Craft
                        </p>
                        <div class="latest-card-amounts">
                            <p class="latest-card-price">$42.00</p>
                            <p class="latest-card-discount">$65.00</p>
                        </div>
                    </div>
                    <div class="latest-card-badge">
                        <P class="latest-card-badge-text">Sale</P>
                    </div>
                    <div class="latest-card-buttons">
                        <button title="cart" class="latest-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="latest-card-btn">
                            <img src="../../assets/icons/heart-purple.png" alt="">
                        </button>
                        <button title="zoom" class="latest-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            
            <div class="latest-card-regular">
                <div class="latest-card-contents">
                    <div class="latest-card-photo">
                        <img src="../../assets/images/latest/image2.png" alt="latesting products photo" class="latest-card-img">
                    </div>
                    <div class="latest-card-texts">
                        <p class="latest-card-name">
                            Comfort Handy Craft
                        </p>
                        <div class="latest-card-amounts">
                            <p class="latest-card-price">$42.00</p>
                            <p class="latest-card-discount">$65.00</p>
                        </div>
                    </div>
                    <div class="latest-card-badge">
                        <P class="latest-card-badge-text">Sale</P>
                    </div>
                    <div class="latest-card-buttons">
                        <button title="cart" class="latest-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="latest-card-btn">
                            <img src="../../assets/icons/heart-purple.png" alt="">
                        </button>
                        <button title="zoom" class="latest-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="latest-card-regular">
                <div class="latest-card-contents">
                    <div class="latest-card-photo">
                        <img src="../../assets/images/latest/image3.png" alt="latesting products photo" class="latest-card-img">
                    </div>
                    <div class="latest-card-texts">
                        <p class="latest-card-name">
                            Comfort Handy Craft
                        </p>
                        <div class="latest-card-amounts">
                            <p class="latest-card-price">$42.00</p>
                            <p class="latest-card-discount">$65.00</p>
                        </div>
                    </div>
                    <div class="latest-card-badge">
                        <P class="latest-card-badge-text">Sale</P>
                    </div>
                    <div class="latest-card-buttons">
                        <button title="cart" class="latest-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="latest-card-btn">
                            <img src="../../assets/icons/heart-purple.png" alt="">
                        </button>
                        <button title="zoom" class="latest-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="latest-card-regular">
                <div class="latest-card-contents">
                    <div class="latest-card-photo">
                        <img src="../../assets/images/latest/image4.png" alt="latesting products photo" class="latest-card-img">
                    </div>
                    <div class="latest-card-texts">
                        <p class="latest-card-name">
                            Comfort Handy Craft
                        </p>
                        <div class="latest-card-amounts">
                            <p class="latest-card-price">$42.00</p>
                            <p class="latest-card-discount">$65.00</p>
                        </div>
                    </div>
                    <div class="latest-card-badge">
                        <P class="latest-card-badge-text">Sale</P>
                    </div>
                    <div class="latest-card-buttons">
                        <button title="cart" class="latest-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="latest-card-btn">
                            <img src="../../assets/icons/heart-purple.png" alt="">
                        </button>
                        <button title="zoom" class="latest-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="latest-card-regular">
                <div class="latest-card-contents">
                    <div class="latest-card-photo">
                        <img src="../../assets/images/latest/image5.png" alt="latesting products photo" class="latest-card-img">
                    </div>
                    <div class="latest-card-texts">
                        <p class="latest-card-name">
                            Comfort Handy Craft
                        </p>
                        <div class="latest-card-amounts">
                            <p class="latest-card-price">$42.00</p>
                            <p class="latest-card-discount">$65.00</p>
                        </div>
                    </div>
                    <div class="latest-card-badge">
                        <P class="latest-card-badge-text">Sale</P>
                    </div>
                    <div class="latest-card-buttons">
                        <button title="cart" class="latest-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="latest-card-btn">
                            <img src="../../assets/icons/heart-purple.png" alt="">
                        </button>
                        <button title="zoom" class="latest-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
            <div class="latest-card-regular">
                <div class="latest-card-contents">
                    <div class="latest-card-photo">
                        <img src="../../assets/images/latest/image6.png" alt="latesting products photo" class="latest-card-img">
                    </div>
                    <div class="latest-card-texts">
                        <p class="latest-card-name">
                            Comfort Handy Craft
                        </p>
                        <div class="latest-card-amounts">
                            <p class="latest-card-price">$42.00</p>
                            <p class="latest-card-discount">$65.00</p>
                        </div>
                    </div>
                    <div class="latest-card-badge">
                        <P class="latest-card-badge-text">Sale</P>
                    </div>
                    <div class="latest-card-buttons">
                        <button title="cart" class="latest-card-btn">
                            <img src="../../assets/icons/card-cart.png" alt="">
                        </button>
                        <button title="heart" class="latest-card-btn">
                            <img src="../../assets/icons/heart-purple.png" alt="">
                        </button>
                        <button title="zoom" class="latest-card-btn">
                            <img src="../../assets/icons/zoom-in.png" alt="">
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>