.latest{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.latest-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1171px;
}
.latest-section-heading{
    font-weight: 500;
    font-size: 36px;
    line-height: 38px;
    color: #151875;
}

.latest-nav{
    width: 528px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}
.latest-nav-list{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #151875;
}

.latest-nav-list-active{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FB2E86;
    text-decoration-line: underline;
}



.latest-cards{
    width: 1171px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
  
  .latest-card > div {
    text-align: left;
  }

.latest-card-regular{
    height: 306px;
    width: 360px;    
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 39px 14px;
}

.latest-card-contents{
    position: relative;
}

.latest-card-contents:hover .latest-card-badge, .latest-card-contents:hover .latest-card-buttons{
    opacity: 100%;
}

.latest-card-contents:hover .latest-card-photo{
    background: #FFFFFF;
    cursor: pointer;
}

.latest-card-photo{
    height: 269px;
    width: 360px;
    background: #F5F6F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-card-badge{
    position: absolute;
    left: -10px;
    top: 34px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    background-color: #3F509E;
    transform: rotate(-38deg);
    height: 36px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 90% 10% 90% / 100% 0% 100% 0% ;
    z-index: 5;
    opacity: 0%;
}

.latest-card-buttons{
    position: absolute;
    left: 12px;
    bottom: 42px;
    display: flex;
    flex-direction: column;
    opacity: 0%;
}
.latest-card-btn{
    background:none;
    border: none;
    margin-bottom: 12px;
    cursor: pointer;
}

.latest-card-badge{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #EEEFFB;
    transform: rotate(-38deg);
}
.latest-card-badge-text{}

.latest-card-img{
    z-index: 10;
}

.latest-card-texts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.latest-card-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #151875b0;
    text-decoration-line: underline;
}
.latest-card-amounts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
.latest-card-price{
    margin: 0 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: var(--primary);
}
.latest-card-discount{
    margin: 0 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-decoration-line: line-through;
    color: rgba(255, 1, 1, 0.60);
}

