.footer-section{
    background-color: #EEEFFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-contents {
    width: 1171px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin: 62px 0px;
  }
  
  .footer-contents > div {
    text-align: left;
  }

  .footer-list-heading{
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
  }

  .footer-list-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8A8FB9;
    margin-bottom: 21px;
  }
  
  .footer-signup{
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  .signupInput{
    border: 2px solid #E7E6EF;
    outline: none;
    height: 40px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.45);
    padding-left: 20px;
}

  .signupInput::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8a8fb9b4;
}

.signupBtn{
    border: 10px solid var(--accentP);
    background-color: var(--accentP);
    color: white;
    height: 44px;
    width: 102px;
}

.footer-contact-heading{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8A8FB9;
    margin: 26px 0 10px 0;
}

.footer-contact-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8A8FB9;
}

.footer-logo, .footer-list-heading{
    margin-bottom: 30px;
}