<div class="footer-section">
    <div class="footer-contents">
        <div>
            <img src="../../assets/images/Hekto.png" alt="" class="footer-logo">
        </div>
        <div class="footer-list-heading">Catagories</div>
        <div class="footer-list-heading">Customer Care</div>
        <div class="footer-list-heading">Pages</div>

        <!-- FOOTER-SIGNUP-BUTTON -->
        <div class="footer-contact">
            <div class="footer-signup">
                <input type="text" id="signupInput" class="signupInput" name="signupInput" placeholder="Enter Email Address">
                <button class="signupBtn">Sign Up</button>
            </div>
            <p class="footer-contact-heading">Contact Info</p>
            <p class="footer-contact-description">17 Princess Road, London, Greater London NW1 8JR, UK</p>
        </div>
        
        <!-- FOOTER-BUTTON-LISTS -->
        <div class="footer-list-catarories">
            <ul class="footer-list-item">Laptops & Computers</ul>
            <ul class="footer-list-item">Cameras & Photography</ul>
            <ul class="footer-list-item">Smart Phones & Tablets</ul>
            <ul class="footer-list-item">Video Games & Consoles</ul>
            <ul class="footer-list-item">Waterproof Headphones</ul>
        </div>
        <div class="footer-list-customerCare">
            <ul class="footer-list-item">My Account</ul>
            <ul class="footer-list-item">Discount</ul>
            <ul class="footer-list-item">Returns</ul>
            <ul class="footer-list-item">Orders History</ul>
            <ul class="footer-list-item">Order Tracking</ul>
        </div>
        <div class="footer-list-pages">
            <ul class="footer-list-item">Blog</ul>
            <ul class="footer-list-item">Browse the Shop</ul>
            <ul class="footer-list-item">Category</ul>
            <ul class="footer-list-item">Pre-Built Pages</ul>
            <ul class="footer-list-item">Visual Composer Elements</ul>
            <ul class="footer-list-item">WooCommerce Pages</ul>
        </div>
    </div>
</div>
