<header>
    <div class="nav-bar">
        <div class="nav-bar-contents">
            <!-- NAV-BAR-LEFT-SECTION -->
            <div class="nav-bar-left">
                <!-- Logo -->
                <div class="nav-bar-logo">
                    <img src="../../assets/images/Hekto.png" alt="" class="nav-bar-logo-icn">
                </div>
                <!-- HOME BUTTON -->
                <div class="nav-bar-left-home">
                    <a href="#" class="nav-bar-home">Home</a>
                    <img src="../../assets/icons/drop-down-purple.png" class="nav-down-icn" alt="">
                </div>
                <!-- PAGES BUTTON -->
                <div class="nav-bar-left-pages">
                    <a href="#" class="nav-bar-pages">Pages</a>                    
                </div>
                <!-- PRODUCTS BUTTON -->
                <div class="nav-bar-left-products">
                    <a href="#" class="nav-bar-products">Products</a>                    
                </div>
                <!-- BLOG BUTTON -->
                <div class="nav-bar-left-blog">
                    <a href="#" class="nav-bar-blog">Blog</a>                    
                </div>
                <!-- SHOP BUTTON -->
                <div class="nav-bar-left-shop">
                    <a href="#" class="nav-bar-shop">Shop</a>                    
                </div>
                <!-- CONTACT BUTTON -->
                <div class="nav-bar-left-contact">
                    <a href="#" class="nav-bar-contact">Contact</a>
                </div>
            </div>
            
            <!-- NAV-BAR-RIGHT-SECTION -->
            <div class="nav-bar-right">
                <input type="text" id="searchInput" class="searchInput" name="searchInput">
                <button class="searchBtn">
                    <img src="../../assets/icons/search.png" alt="">
                </button>
            </div>
        </div>
    </div>
</header>
