<section class="feature-section">
    <div class="feature-section-contents">
        <div class="feature-section-left">
            <div class="feature-section-photo">
                <img src="../../assets/images/ClubSofaChair.png" alt="" class="feature-section-img">
            </div>
        </div>

        <div class="feature-section-right">
            <div class="feature-section-texts">
                <h1 class="feature-section-heading">
                    Unique Features Of leatest & Trending Poducts
                </h1>
                <ul class="feature-list">
                    <li class="feature-list-item feature-list-item-a">
                        All frames constructed with hardwood solids and laminates
                    </li>
                    <li class="feature-list-item feature-list-item-b">
                        Reinforced with double wood dowels, glue, screw - nails corner
                    <br>blocks and machine nails
                    </li>
                    <li class="feature-list-item feature-list-item-c">
                        Arms, backs and seats are structurally reinforced
                    </li>
                </ul>
            </div>
            <div class="feature-section-action">
                <div class="feature-section-cta">
                    <button class="feature-section-cta-btn">
                        Add to Cart
                    </button>
                    <div class="feature-section-product">
                        <p class="feature-section-product-name">
                            B&B Italian Sofa
                        </p>
                        <p class="feature-section-product-price">
                            $32.00
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>