<section class="shoppex">
    <div class="shoppex-contents">
        <h1 class="shoppex-section-heading">
            What Shopex Offer!
        </h1>

        <div class="shoppex-cards">
            <div class="shoppex-card-regular">
                <div class="shoppex-card-contents">
                    <img src="../../assets/images/freeDelivery.png" alt="shoppex offer photo" class="shoppex-card-img">
                    <p class="shoppex-card-name">
                        24/7 Support
                    </p>
                    <p class="shoppex-card-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
                    </p>
                </div>
            </div>
            <div class="shoppex-card-regular">
                <div class="shoppex-card-contents">
                    <img src="../../assets/images/cashback.png" alt="shoppex offer photo" class="shoppex-card-img">
                    <p class="shoppex-card-name">
                        24/7 Support
                    </p>
                    <p class="shoppex-card-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
                    </p>
                </div>
            </div>
            <div class="shoppex-card-regular">
                <div class="shoppex-card-contents">
                    <img src="../../assets/images/premiumQuality.png" alt="shoppex offer photo" class="shoppex-card-img">
                    <p class="shoppex-card-name">
                        24/7 Support
                    </p>
                    <p class="shoppex-card-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
                    </p>
                </div>
            </div>
            <div class="shoppex-card-regular">
                <div class="shoppex-card-contents">
                    <img src="../../assets/images/24support.png" alt="shoppex offer photo" class="shoppex-card-img">
                    <p class="shoppex-card-name">
                        24/7 Support
                    </p>
                    <p class="shoppex-card-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa purus gravida.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
