<div class="footer-bottom">
    <div class="footer-bottom-contents">
        <div class="footer-bottom-left">
            <p class="footer-bottom-copyRight-text">
                ©Webecy - All Rights Reserved
            </p>
        </div>
        <div class="footer-bottom-right">
            <img src="../../assets/icons/facebook.png" alt="" class="footer-bottom-social-btn-facebook">
            <img src="../../assets/icons/instagram.png" alt="" class="footer-bottom-social-btn-instagram">
            <img src="../../assets/icons/twitter.png" alt="" class="footer-bottom-social-btn-twitter">
        </div>
    </div>

</div>